Nova/Resources/Models/ggml-small.bin filter=lfs diff=lfs merge=lfs -text
Nova/Resources/Models/ggml-small-encoder.mlmodelc/** filter=lfs diff=lfs merge=lfs -text
Nova/Resources/Models/** filter=lfs diff=lfs merge=lfs -text
